body {
	font-family: "Roboto", sans-serif;
}

h1 {
	font-style: italic;
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;
}
h5 {
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;
}


.row {
	display: flex;
	text-align: center;
	justify-content: center;
}


.p-intro {
	text-align: left;
}



.a-intro {
	font-size: 3vh;
	font-style: italic;
	color: #C68E17;
	font-family: 'Cormorant Garamond', serif;
}






.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	page-break-before: always;
}


.body-intro {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	page-break-before: always;
}

.room {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	page-break-before: always;
	background-color: #faf9f5;
}

.service {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	page-break-before: always;
}

.news {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	page-break-before: always;
}

.news img {
	width: 30%;
}


.room-heading {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 20px;
}

.service-heading {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 20px;
}

.news-heading {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 20px;
}






.card-title{
	height: 8vh;
}

.card img {
	height: 20vh;
}


.media img{
	height: 36vh;
	width: 50%;
}

.mt-0 {
	text-transform: uppercase;
}

.media-body{
	width: auto;
}

.media{
	border: 1px solid #C68E17;
	text-align: left;
}



.price {
	padding-top:  0px;
	padding-bottom: 6px;
	color: #C68E17;
	font-weight: bold;

}



footer {
	background-color: black;
	color: white;
}

footer a {
	color: white;
}

footer ul {
	list-style: none;
}

.fa {
	color: #C68E17;
}

.footer-title{
	font-family: 'Cormorant Garamond', serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	justify-content: center;
}
.footer-links{
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	text-align: left;
	justify-content: left;
}

.social-icon{
	text-align: center;
	justify-content: center;
}

.social-icon i {
	color: white;
}


.email input {
	margin-left: 0px;
	background-color: gray;
}

.email input::placeholder{
	font-size: 12px;
	color: white;
	padding-left: 10px;
}

.submit-button {
	width: 12vh;
	margin-left: 0px;
	margin-right: 90px;
	color: black;
	background-color: #C68E17;
}

.copyright {
	color: gray;
}

.footer-brand {
	font-size: 50px;
}


@media (min-width: 576px){
	.navbar-brand img {
		width: 80px;
	}

	.navbar button {
		margin-right: 0;
	}

	.carousel,
	.body-intro,
	.room, 
	.service,
	.news {
		flex-direction: column;
		height: auto; 
	}

	.media {
		flex-direction: column;
		text-align: center;
	}

	.media img {
		width: 100%;
		margin-bottom: 10px;
	}

	footer .row {
		text-align: center;
	}

	footer input {
		margin: auto;
	}

	.news-articles {
		flex-direction: column;
	}

	article {
		margin-bottom: 20px;
	}

	article h2 {
		font-size: 18px;
	}

	article p {
		font-size: 14px;
	}

	article img {
		width: 100%;
		height: auto;
	}


}


#scrollToTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background-color: #00bcd4; /* Cyan background color */
	color: #fff;
	border: none;
	border-radius: 50%; /* Make it round */
	padding: 10px; /* Adjust padding to fit the content */
	cursor: pointer;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5vh;
}

/* Style for the arrow icon */
#scrollToTopBtn::before {
	content: '↑';
	font-size: 20px;
}








/* Style the news articles container */
.news-articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Style individual articles */
article {
	box-sizing: border-box;
	width: 35vh; /* Adjust the width as per your preference */
	height: 25vh;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style article headings */
article h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

/* Style article images */
article img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Style article paragraphs */
article p {
	font-size: 14px;
	line-height: 1.5;
	color: #555;
}

/* Style "Read more" links */
article a {
	display: block;
	margin-top: 10px;
	text-align: right;
	text-decoration: none;
	color: #007bff;
	font-weight: bold;
}

/* Hover effect for "Read more" links */
article a:hover {
	text-decoration: underline;
}

.news-articles ul {
	list-style: none;

}

.news-articles li {
	display: inline-flex;
}